VITE_SUPABASE_URL=https://wnbmyiyblpinayswunxb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InduYm15aXlibHBpbmF5c3d1bnhiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUzMTA3ODIsImV4cCI6MjA5MDg4Njc4Mn0.KjDnLzdQLv_HRDgNSAQGPw744QiG-AZBAz0mglUvN6E